<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="FirebaseConnectionString" value="https://text-receiver.firebaseio.com/"/>
        <add key="FirebaseConversationsPath" value="/conversations"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>